<!doctype html>
<html ng-app="EdgeLottoApp">
    <head>
        <title>Edge Lotto</title>

        <script src="vendor/angular.1.4.8.min.js"></script>
        <link rel="stylesheet" href="vendor/bootstrap-3.3.6/css/bootstrap.min.css">
        <script src="vendor/bootstrap-3.3.6/js/bootstrap.min.js"></script>

        <script src="edgelotto.js"></script>
        <!-- TODO custom CSS <link rel="stylesheet" href="edgelotto.css"> -->
    </head>

    <body>
        <div class="container">
            <div class="jumbotron">
                <h2>Edge Lotto</h2>
            </div>

            <div ng-controller="EdgeLottoController as lotto">
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th>Player Name</th>
                        <th>Number of Tickets</th>
                    </tr>
                    <tr ng-repeat="player in lotto.players">
                        <td>{{player.name}}</td>
                        <td>{{player.numTickets}}</td>
                    </tr>
                </table>

                <hr />

                <form ng-submit="lotto.addPlayer()">
                    <input type="text" ng-model="lotto.playerName"
                        placeholder="Player name"
                        required>
                    <input type="number" ng-model="lotto.numTickets"
                        placeholder="Tickets"
                        required>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
                    </button>
                </form>

                <hr />

                <p>
                    <!-- TODO: use Gold and Silver icons from game if possible -->
                    Ticket Value <input type="number" placeholder="0"> gold,
                    <input type="number" placeholder="10"> silver
                </p>

                <p>
                    Split (%) <input type="number" placeholder="60" required>
                </p>

                <p>
                    <!-- TODO: use Gold and Silver icons from game if possible -->
                    Additional Winnings <input type="number" placeholder="0"> gold,
                    <input type="number" placeholder="10"> silver
                </p>
            </div>
        </div>
    </body>
</html>
